invite

<div id="join_game">
    <form action="<%= @game_id %>/accept" method="post">
        <input type="submit" value="Accept">
    </form>
</div>

<script>
    var user_token = '<%= @user_token %>';
</script>
