pending
<div id="cancel_invite">
    <form action="<%= @game_id %>/cancel" method="post">
        <input type="submit" value="Cancel">
    </form>
</div>

<script>
    var user_token = "<%= @user_token %>";
</script>
