html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #d9d9d9;
  background-color: #1a1a1a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  min-height: 100%;
}

input {
  color: #d9d9d9;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1a1a1a;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  color: #d9d9d9;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.column-sidebar-bottom a {
  color: #999999;
  font-size: 1.5rem;
}

#titleReturn {
  font-size: 3.3rem;
}

#createGameBtn {
  height: 100%;
  width: 100%;
}

#playWithFriendBtn {
  height: 100%;
  width: 100%;
}

#playWithComputerBtn {
  height: 100%;
  width: 100%;
}

#game_list {
  color: #d9d9d9;
  display: block;
}

#game_list td {
  border-bottom: 0;
}

#game_list table tbody tr {
  cursor: pointer;
}

#game_list table thead th {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  text-align: left;
  padding: 0rem 0.5rem;
}



/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #1a1a1a;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.game {
  background: none;
}

.game:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #d9d9d9;
  outline: 0
}

.game td {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0rem;
  text-align: left;
  padding-left: 5px;
}

.game th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0.5rem;
  text-align: left
}

.user_game_tea {
  background: #3e5322;
}

.user_game_tea:hover {
  background-color: #ad251c;
  border-color: #606c76;
  color: #d9d9d9;
  outline: 0;
}

.user_game_tea td {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0rem;
  text-align: left;
  padding-left: 5px;
}

.user_game_tea th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0.5rem;
  text-align: left
}

.user_game:hover {
  background-color: #ad251c;
  border-color: #606c76;
  color: #d9d9d9;
  outline: 0;
}

.user_game td {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0rem;
  text-align: left;
  padding-left: 5px;
}

.user_game th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 0rem;
  text-align: left
}

.column-lobby {
  float: right;
  width: 75%;
  padding: 0rem 1rem;
}

.column-sidebar {
  float: left;
  width: 25%;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #0230c1;
  border: 0.1rem solid#0230c1;
  border-radius: .4rem;
  color: #d9d9d9;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 1.0rem
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #d9d9d9;
  outline: 0
}

/* Headers */
header {
  width: 100%;
  color: #d9d9d9;
  background: #252525;
  /* border-bottom: 1px solid #eaeaea; */
  margin-bottom: 2rem;
}

header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-in {
  display: inline-block;
}

.sign-in a {
  color: #d9d9d9;
  text-decoration: none;
}

@media (min-width: 40.0rem) {

  /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }

  header nav ul {
    margin: 1rem;
  }
}

/* General style */
h1 {
  font-size: 3rem;
  line-height: 1.25;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.3
}

h3 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5
}

h5 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4
}

h6 {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.2
}

pre {
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom:0.8rem;
  margin-top: 0.8rem
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem
}

table {
  border-spacing: 0;
  width: 100%
}

td:first-child,
th:first-child {
  padding-left: 0
}

td:last-child,
th:last-child {
  padding-right: 0
}

b,
strong {
  font-weight: bold
}

p {
  margin-top: 0
}

img {
  max-width: 100%
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table
}